.git
.gitignore

.venv
**/.venv

__pycache__
**/__pycache__

.env
.env.*

.vscode
.idea

logs
**/logs

target
**/target

dbt/europan_soccer_dbt/target
dbt/europan_soccer_dbt/logs

airflow/logs

*.pyc
*.pyo

README.md
docs